/* RESETS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 90vw;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

.list-group-item {
  display: flex;
  width: 50vw;
  justify-content: space-around;
  align-items: center;
  margin-bottom: .5rem;
  border: 1px solid gray;
  min-width: 300px;
}

.list-group-item>div.list-item {
  flex: 3;
}

.list-group-item>div.btn-group {
  flex: 1;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  line-height: normal;
}

button,
input {
  overflow: visible;
}

span {
  margin-left: 1.5em;
}

select {
  background-color: transparent;
  padding: 0.7em;
  margin: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

input[type="text"] {
  font: inherit;
  line-height: 2.5rem;
}

.btn {
  padding: 0.8rem 1rem 0.7rem;
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
  text-transform: capitalize;
}

.btn.toggle-btn {
  border-width: 1px;
  border-color: #d3d3d3;
}

.btn.toggle-btn[aria-pressed="true"] {
  text-decoration: underline;
  border-color: #4d4d4d;
}

.btn.fit-content {
  flex: 1 auto;
}

.btn__danger {
  color: #fff;
  background-color: #ca3c3c;
  border-color: #bd2130;
}

.btn__primary {
  color: #fff;
  background-color: #000;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-group>* {
  flex: 1 1 49%;
}

.btn-group>*+* {
  margin-left: 0.8rem;
}

.label-wrapper {
  margin: 0;
  flex: 0 0 100%;
  text-align: center;
}

.modal {
  background-color: white;
  border-radius: 3px;
  top: 20%; 
  left: 50%;
  transform: translate(-50%, 0);
  padding: 2rem;
  position: fixed;
  max-width: 60vw;
  z-index: 5;
}

.modal--overlay {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
}